<header class="site-header" role="banner">
  <div class="wrapper">
    <nav class="site-nav">
      <a class="site-title" href="{{ "/" | relative_url}}">{{ site.title | escape }}</a>
      <ul>
        <li>
          <a class="page-link" href="/">Home</a>
        </li>
        <li>
          <a class="page-link" href="/blog">Blog</a>
        </li>
        <li>
          <a class="page-link" href="/about">About</a>
        </li>
        <li>
          <a class="page-link" href="/contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
