.contact-form {
  max-width: 45em;
  padding: 3em 9em 4em 9em;
  margin-left: auto;
  margin-right: auto;
}

@media all and (max-width: 768px) {
  .contact-form {
    padding: 2em 2em 4em 2em;
  }
}

.form-message {
  font-family: "Operator Mono SSm-BookItalic";
  text-align: center;
}

.input-wrapper {
  padding: 0.4em 0em;
}

input, label {
  text-align: left;
  margin-bottom: 7px;
}

input {
  width: 100%;
  box-shadow: inset 0 2px 0 rgba(39,65,90,.075);
  border-radius: 2px;
  border: 0;
  padding: 11px 13px;
  background-color: #F7F7F8;
  margin-top: 7px;
  font-size: 14px;
}

textarea {
  display: block;
  margin-top: 7px;
  width: 100%;
  height: 200px;
  padding: 10px;
  font-size: 14px;
  box-shadow: inset 0 2px 0 rgba(39,65,90,.075);
  border-radius: 2px;
  border: 0;
  background-color: #F7F7F8;
}

input[type="submit"] {
  text-align: center;
  cursor: pointer;
  transition: background 0.5s;
  font-size: 16px;
  &:hover {
    background: darken($dark-sea-green, $darken--button);
  }
}

.button-wrapper {
  margin-top: 2.5em;
}

.button {
  padding: 11px 40px;
  box-shadow: inset 0 2px 0 rgba(39, 65, 90, 0.075);
  text-decoration: none;
  transition: background 0.5s;
  &:hover{
    color: #FFF;
  }
}
