////
/// Colors
////

$white:  #FFF;
$jumbo-gray: #807F89;
$outer-space: #343A40;
$dark-sea-green: darkseagreen;
$sea-pink: #ECA4A6;
$purple-rain: #513C61;
$channel-orange: #DE763F;
$mine-shaft: #333;
$bittersweet: #FF6B6B;
$darken--button: 5%;
$lighten--button: 25%;
