@font-face {
  font-family: "Operator Mono SSm-Bold";
  src: url("../../../assets/fonts/OperatorMonoSSm-Bold.otf");
}

@font-face {
  font-family: "Operator Mono SSm-Bold Italic";
  src: url("../../../assets/fonts/OperatorMonoSSm-BoldItalic.otf");
}

@font-face {
  font-family: "Operator Mono SSm-Book";
  src: url("../../../assets/fonts/OperatorMonoSSm-Book.otf");
}

@font-face {
  font-family: "Operator Mono SSm-BookItalic";
  src: url("../../../assets/fonts/OperatorMonoSSm-BookItalic.otf");
}

@font-face {
  font-family: "Operator Mono SSm-Light";
  src: url("../../../assets/fonts/OperatorMonoSSm-Light.otf");
}

@font-face {
  font-family: "Operator Mono SSm-LightItalic";
  src: url("../../../assets/fonts/OperatorMonoSSm-LightItalic.otf");
}

@font-face {
  font-family: "Operator Mono SSm-Medium";
  src: url("../../../assets/fonts/OperatorMonoSSm-Medium.otf");
}

@font-face {
  font-family: "Operator Mono SSm-MediumItalic";
  src: url("../../../assets/fonts/OperatorMonoSSm-MediumItalic.otf");
}
