@font-face {
  font-family: "Operator Mono SSm-Bold";
  src: url("../../../assets/fonts/Operator/OperatorMonoSSm-Bold.otf");
}

@font-face {
  font-family: "Operator Mono SSm-Bold Italic";
  src: url("../../../assets/fonts/Operator/OperatorMonoSSm-BoldItalic.otf");
}

@font-face {
  font-family: "Operator Mono SSm-Book";
  src: url("../../../assets/fonts/Operator/OperatorMonoSSm-Book.otf");
}

@font-face {
  font-family: "Operator Mono SSm-BookItalic";
  src: url("../../../assets/fonts/Operator/OperatorMonoSSm-BookItalic.otf");
}

@font-face {
  font-family: "Operator Mono SSm-Light";
  src: url("../../../assets/fonts/Operator/OperatorMonoSSm-Light.otf");
}

@font-face {
  font-family: "Operator Mono SSm-LightItalic";
  src: url("../../../assets/fonts/Operator/OperatorMonoSSm-LightItalic.otf");
}

@font-face {
  font-family: "Operator Mono SSm-Medium";
  src: url("../../../assets/fonts/Operator/OperatorMonoSSm-Medium.otf");
}

@font-face {
  font-family: "Operator Mono SSm-MediumItalic";
  src: url("../../../assets/fonts/Operator/OperatorMonoSSm-MediumItalic.otf");
}

@font-face {
  font-family: "Watford Regular";
  src: url("../../../assets/fonts/Watford/wotfard-regular-webfont.woff2");
}

@font-face {
  font-family: "Watford Regular Italic";
  src: url("../../../assets/fonts/Watford/wotfard-regularitalic-webfont.woff2");
}

@font-face {
  font-family: "Watford Light";
  src: url("../../../assets/fonts/Watford/wotfard-light-webfont.woff2");
}

@font-face {
  font-family: "Watford Light Italic";
  src: url("../../../assets/fonts/Watford/wotfard-lightitalic-webfont.woff2");
}

@font-face {
  font-family: "Watford Extra Light";
  src: url("../../../assets/fonts/Watford/wotfard-extralight-webfont.woff2");
}

@font-face {
  font-family: "Watford Extra Light Italic";
  src: url("../../../assets/fonts/Watford/wotfard-extralightitalic-webfont.woff2");
}

@font-face {
  font-family: "Watford Bold";
  src: url("../../../assets/fonts/Watford/wotfard-bold-webfont.woff2");
}

@font-face {
  font-family: "Watford Bold Italic";
  src: url("../../../assets/fonts/Watford/wotfard-bolditalic-webfont.woff2");
}

@font-face {
  font-family: "Watford Medium";
  src: url("../../../assets/fonts/Watford/wotfard-medium-webfont.woff2");
}

@font-face {
  font-family: "Watford Medium Italic";
  src: url("../../../assets/fonts/Watford/wotfard-mediumitalic-webfont.woff2");
}

@font-face {
  font-family: "Watford Semibold";
  src: url("../../../assets/fonts/Watford/wotfard-semibold-webfont.woff2");
}

@font-face {
  font-family: "Watford Semibold Italic";
  src: url("../../../assets/fonts/Watford/wotfard-semibolditalic-webfont.woff2");
}

@font-face {
  font-family: "Watford Thin";
  src: url("../../../assets/fonts/Watford/wotfard-thin-webfont.woff2");
}

@font-face {
  font-family: "Watford Thin Italic";
  src: url("../../../assets/fonts/Watford/wotfard-thinitalic-webfont.woff2");
}