body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#particles-js {
  height: 100%;
  background: darkseagreen;
}

.site-title {
  float: left;
}

.site-nav ul {
  margin: 0;
  padding: 0;
  float: right;
}

.site-nav li {
  display: inline;
}

/* Pagination button styles */

ul .pager {
  text-align: center;
  list-style: none;
}

ul .pager li {
  display: inline;
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
}

.selected {
  background-color: rosybrown;
}