////
/// Colors
////

$white: #fff;
$jumbo-gray: #807f89;
$outer-space: #343a40;
$dark-sea-green: darkseagreen;
$sea-pink: #eca4a6;
$elixir-purple: #49255a;
$purple-rain: #513c61;
$channel-orange: #de763f;
$mine-shaft: #333;
$bittersweet: #ff6b6b;
$darken--button: 5%;
$lighten--button: 25%;
$react-blue: #61dafb;
