---
layout: default
---

<div class="post post-list">
  <figure class="right"><img src="../assets/images/myphotomediumsquare.jpg" alt="headshot photo">
  </figure>
  <p>
    I first caught the coding bug in 2014 when I read this <a href="https://www.npr.org/sections/ed/2014/12/20/370954988/twelve-weeks-to-a-six-figure-job" target="_blank">NPR article</a>. It told the story an English major from UCLA (just like me!) who went into coding and found success. I was intrigued.
  </p>
  <p>
    I then went to a two month bootcamp at Portland Code School to learn the basics of HTML, CSS, and JavaScript. A <em>lot</em> of Treehouse lessons and personal learning followed. I decided I needed to take things up a notch.
  </p>
  <p>
    I started the coding bootcamp <a href="https://www.epicodus.com/">Epicodus</a> full-time in January 2016. While there I learned Ember.js, Angular, PHP, Drupal, and how to work well with others as a team. Learning programming full-time for five-plus months made for an amazing immersive experience and I was able to grow my skills immensely in a short amount of time.
  </p>
  <p>
    My next step was to venture out and find an internship, which I fulfilled at <a href="https://barre3.com" target="_blank">barre3</a>, a ballet barre company whose online workout program has been streamed in 96 countries. They must've liked me enough to keep me around, because they offered me a full-time position!
  </p>
  <p>
    With some excellent mentorship, I have gained the skills of a full-stack developer, with a strong focus on Ruby on Rails and a healthy side of React. I look to furthering my skills every day, and plan to write about what I learn on <a href="/blog">my blog</a>.
  </p>
  <p>
    I'm always looking for new and exciting ventures, or the chance to learn and share knowledge, so feel free to reach out to me on my <a href="/blog">contact page</a>. Thanks for taking a look around!
  </p>
</div>
