---
layout: default
permalink: /blog/
---

<ul class="post-list">
  <!-- All posts -->
  {% assign posts = paginator.posts %}
  {% for post in posts %}
    <li>
      <h2>
        <a class="post-list__link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h2>
      <span class="post-list__meta">{{ post.date | date: "%b %-d, %Y" }}
        {% if post.tags %}
          {% for tag in post.tags %}
            {% if tag == "humor" %}
              {% assign background = "pink" %}
            {% else %}
              {% assign background = "brown" %}
            {% endif %}
            <a style="background-color: {{ background }}" href="/{{ tag }}">{{ tag }}</a>
          {% endfor %}
        {% endif %}
      </span>
      <span class="post-list__excerpt">
        {{ post.excerpt }}
      </span>
      <a href="{{ site.baseurl }}{{ post.url }}" class="post-list__read-more">Read more</a>
    </li>
  {% endfor %}

  {% include pagination.html %}
</ul>
