---
layout: default
---

<div id="particles-js">
  {% include header.html %}
  <div class="site-title__wrapper">
    <h1>
      <span class="site-title__text">{{site.username}}</span>
      <span class="site-title__text--sub">{{site.user_title}}</span>
    </h1>
    <i class="fab fa-github"></i>
    <i class="fab fa-linkedin-in"></i>
  </div>
</div>

<script type="text/javascript" src="{{ base.url | prepend: site.url }}/assets/js/particles.js"></script>
<script type="text/javascript" src="{{ base.url | prepend: site.url }}/assets/js/app.js"></script>
