---
layout: default
---
<article class="post post-list" itemscope itemtype="http://schema.org/BlogPosting">
  <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
    {{ page.date | date: "%b %-d, %Y" }}
  </time>
  <div class="post-list__meta">
    {% if page.tags %}
      {% for tag in page.tags %}
        {% assign post_tag_downcase = tag | downcase %}
        {% for blog_tag in site.blog_tags %}
          {% assign blog_tag_title = blog_tag.title | downcase %}
          {% if blog_tag_title == post_tag_downcase %}
            <div class="post-list__tags">
              <a href="/{{ tag }}" class="bg--{{ blog_tag.color | default: 'grey' }}">{{ tag }}</a>
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endif %}
  </div>

  <div class="post__content">
    {{ content | markdownify }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
