---
layout: default
---
<article class="post post-list" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header" style="display: inline-block; padding-left: 0;">
    <span style="float: left;" class="post-list__meta">{{ post.date | date: "%b %-d, %Y" }}
      {% if page.tags %}
        {% for tag in page.tags %}
          <a href="/{{ tag }}">{{ tag }}</a>
        {% endfor %}
      {% endif %}
    </span>
    <p style="float: left; margin: 0 0 0 0.5em;" class="post-list__meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
  </header>

  <div class="post-content" itemprop="articleBody" style="color: #807F89">
    <img width="200" hspace="10" src="{{ page.book.cover }}" style="float:right"/>
    {{ content | markdownify }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
